* {
  margin: 0px;
  padding: 0px;
  font-family: Geogria, 'Times New Roman', Times, serif;
  font-size: 17px;
 }
#container {
  width:500px;
  border: 1px solid #dedede;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#container {
  padding: 3px;
}
#profile {
  background: transparent url(images/title_background.gif) repeat-x;
  margin-bottom: 23px;
  
}
#profile h3 {
  font-size: 18px;
  margin:4px 0px;
}
#profile img {
  float:left;
  margin:3px 3px;
}
#profile p {
  height: 96px; 
  overflow: auto;
}

#facts {
  font-size:18px;
  margin: 0px 0px 19px 4px;
}
#facts-list {
  margin: 0px 20px 50px 43px;
}
#facts-list img {
  margin-right:5px;
}

.post {
  position: relative;
}
.post p.comment {
  font-size:15px;
  height: 43px;
  padding-left:3px;
  background-color:#ececec;
}
.post img {
  float:left;
  margin-left:20px;
  position: absolute;
  top:35px
}
.post-detail {
  font-size:14px;
  margin-left:60px;
}

#comment-post {
  margin-top:25px;  
}

#comment-post h3 {
  text-align:center;
}
#comment-post .small {
  width: 120px;
}  

}
#comment-post input {
  width:150px;
}
#comment-post textarea {
  width:380px;
  height: 100px;
}



