* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
  font-size: 12px;
  color: #66402b;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  min-width: 960px;
  /*! height: auto; */
}

.phone_sp {
  display: none;
}

/********** HEADER ************/
.header {
  border-top: 4px solid #F0831E;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 30px;
}

.header .decription {
  margin-bottom: 20px; 
}

.header .header_info {
  display: inline-block;
}

.header .header_info {
  float: right;
  text-align: right;
}

.header .header_info .color_orage {
  color: #F0831E;
}


/********** MENU ************/
.menu {
  border-top: 1px solid #CBC6C2;
  border-bottom: 1px solid #CBC6C2;
  background-color: #FBFBFD;
}

.menu ul {
  background: transparent url(../images/line_menu.jpg) no-repeat right center;
}

.menu ul li {
  display: inline-block;
  background: transparent url(../images/line_menu.jpg) no-repeat left center;
  padding-left: 5px;
  padding-right:2px;
  width: 127px;
  position: relative;
}

.menu ul li a {
  width:100%;
	height:53px;
	text-align:center;
	display:block;
}

.menu ul li a.menu_bt_1:hover img,
.menu ul li.menu_bt_1 a.active img,
.menu ul li a.menu_bt_2:hover img,
.menu ul li.menu_bt_2 a.active img,
.menu ul li a.menu_bt_3:hover img,
.menu ul li.menu_bt_3 a.active img,
.menu ul li a.menu_bt_4:hover img,
.menu ul li.menu_bt_4 a.active img,
.menu ul li a.menu_bt_5:hover img,
.menu ul li.menu_bt_5 a.active img,
.menu ul li a.menu_bt_6:hover img,
.menu ul li.menu_bt_6 a.active img,
.menu ul li a.menu_bt_7:hover img,
.menu ul li.menu_bt_7 a.active img {
  display: none;
} 

.menu ul li a.menu_bt_1:hover,
.menu ul li.menu_bt_1 a.active{
  background: transparent url(../images/menu_1_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_2:hover,
.menu ul li.menu_bt_2 a.active{
  background: transparent url(../images/menu_2_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_3:hover,
.menu ul li.menu_bt_3 a.active{
  background: transparent url(../images/menu_3_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_4:hover,
.menu ul li.menu_bt_4 a.active{
  background: transparent url(../images/menu_4_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_5:hover,
.menu ul li.menu_bt_5 a.active{
  background: transparent url(../images/menu_5_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_6:hover,
.menu ul li.menu_bt_6 a.active{
  background: transparent url(../images/menu_6_hover.jpg) no-repeat top center;
}

.menu ul li a.menu_bt_7:hover,
.menu ul li.menu_bt_7 a.active {
  background: transparent url(../images/menu_7_hover.jpg) no-repeat top center;
}

.menu .sub_menu {
  display: none;
}

.menu li.menu_bt_3:hover ul.sub_menu,
.menu li.menu_bt_4:hover ul.sub_menu {
  background: none repeat scroll 0 0 #ffc472;
  display: block;
  height: auto;
  margin-left: -6px;
  position: absolute;
  top: 53px;
  width: 141px;
  z-index: 999;
}

.menu li.menu_bt_3:hover ul.sub_menu li,
.menu li.menu_bt_4:hover ul.sub_menu li {
    height: auto !important;
    margin: 0 !important;
    padding: 10px 0 9px 0;
    text-align: center;
    width: 100%;
	  border-bottom:1px solid #d19c5d;
	  background:none;
}

.menu li.menu_bt_3:hover ul.sub_menu li a,
.menu li.menu_bt_4:hover ul.sub_menu li a{
  height: auto; !importain
}

ul.sub_menu li a:hover {
  background: url(../images/bg_menu_sub.jpg) no-repeat center center;
  display: block;
  padding: 10px 0;
  margin: -10px 0;
  color: #fff;
}

/***********SLIDER************/

#slider {
  margin-bottom: 30px;
}

/***********INNER************/

/***********CONTENT************/
#content {
  max-width: 702px;
  /*! float: left; */
  display: inline-block;
}

.title_1 {
  background: url(../images/line_title.jpg) no-repeat left bottom;
  padding-bottom: 10px;
  margin: 20px 0 15px 0;
  width: 100%;
  display: inline-block;
}

.title_1 img {
  margin-left: 10px;
}

.img_content_1 {
  float: left;
}

.content_1 {
  float: right;
  max-width: 417px;
}
.content_1 p {
  margin-bottom: 23px;
}

.box_1 {
  width: 218px;
  border: 1px solid #D9D9D9;
  float: left;
}
.box_2 {
  margin: 0px 20px;
}

.box_1 p {
  height: 112px;
  margin: 5px 10px;
}

.box_1 a {
  margin: 0 10px;
}

.box_1 a:hover {
  opacity: 0.6;
}

.title_3 a {
  float: right;
}

.index {
  text-align: left;
}

.index dt {
  background: url(../images/bullet_1.jpg) no-repeat left center;
  padding-left: 15px;
  font-size: 13pt;
  text-transform: uppercase;
  float: left;
  display: inline-block;
}

.index dd {
  border-bottom: 3px dotted #BDAEA7;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 128px;
  font-size: 13pt;
}
/******SIDEBAR******/
#sidebar {
  width: 230px;
  float:right;
  /*! display: inline-block; */
  /*! height: auto; */
}

#sidebar .border_1 {
  margin: 20px 0;
  border: 1px solid #E9DFD9;
  border-radius: 5px; 
}

#sidebar .border_2 {
  margin: 5px;
  border: 1px solid #E9DFD9;
  border-radius: 8px;
  padding: 10px;
}

#sidebar .border_2 ul li.li_content {
  background: url(../images/aside_bullet_1.jpg) no-repeat center left;
  margin: 5px 0 5px 5px;!importain
  padding-bottom: 5px;
  border-bottom: 1px solid #E9DFD9;
}

#sidebar .border_2 ul li {
  background: url(../images/aside_bullet_2.jpg) no-repeat center left;
  padding-left: 15px;
  margin-left: 20px;
}

#sidebar a:hover img {
  opacity: 0.5;
}

#sidebar .border_3 {
  border: 5px solid #E9DFD9;
  border-radius: 8px;
  padding: 10px;
}

#sidebar .border_3 iframe {
  width: 200px;
  margin-bottom: 10px;
}

/*****FOOTER*******/
.footer {
  float: left;
  width: 100%;
  background: url(../images/footer_bg.jpg) top left;
  margin-top: 50px;
  padding-bottom: 30px;
}

.footer .f_1 {
  margin-top: 30px;
  max-width: 350px;
  float: left;
}

.footer .menu_footer_2 {
  float: left;
  margin-top: 30px;
  margin-left: 100px;
  border: 1px solid #E7D3C1;
  padding: 30px;
}

.footer .menu_footer_2 ul {
  float: left;
  margin-right: 30px;
}

.footer .menu_footer_2 ul li {
  background: url(../images/footer_bullet.png) no-repeat center left;
  padding-left: 20px;
}

.footer .menu_footer_3 {
  float: left;
  background-color: #fff;
  padding: 10px 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.footer .menu_footer_3 ul li.li_content {
  background: url(../images/aside_bullet_1.jpg) no-repeat center left;
  margin-left: -5px;
}
.footer .menu_footer_3 ul li {
  background: url(../images/footer_bullet.png) no-repeat center left;
  padding-left: 20px;
}

.copyright {
  width: 100%;
  height: 30px;
  background-color: #F88E01;
  float: left;
}
.copyright p {
  color: #fff;
  font-size: 10pt;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

.page_top {
  display:block;
  width: 80px;
  position: fixed;
  bottom: 20px;
  right:20px;
  background-color: #FD9407;
  text-align: center;
  color: #fff;
  padding: 15px;
  border-radius: 10px;

}





