@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
	color: #73523F;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size: 13px;
	background: #fff;
}

p {
	line-height: 1.6;
}

.clear_fix {
	clear: both;
}

.phone_sp {
	display: none;
}

img.aside_button: hover,
p.page_top a img: hover,
img.aside_img_3: hover,
img.aside_img_2: hover,
div.box_1 a img: hover,
a.img_button_2 img: hover, btSli7 a: hover
{
	opacity: 0.6;
	filter: alpha(opacity:60);
}

.header {
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 200;
	border-top: 4px solid #f0831e;
	float: left;
}

.inner {
	height: auto;
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: block;
	min-width: 960px;
	max-width: 960px;
	position: relative;
	clear: both;
}

h1 {
	font-size: 12px;
	text-align: left;
	color: #66402b;
	width: 100%;
	display: inline-block;
	margin: 10px 0;
}

img.header_logo {
	float: left;
	max-width: 100%;
	*width: 430px;
	height: 99px;
	margin-top: 10px;
}

.header_info {
	float: right;
	max-width: 270px;
	width: 100%;
	height: auto;
	margin-top: 0px;
	display: inline-block;
	font-size: 12px;
	text-align: right;
}

div.header_info p{
	width:100%;
	display:inline-block;
}

.header_info span{
	color:#f0831e;
	width:100%;
}

.phone_sp{
	display:none;
}

.nav {
	width: 100%;
	height: 55px;
	display: inline-block;
	position: relative;
	z-index: 999;
	float: left;
	background: url("images/bg_menu.jpg") no-repeat top left;
	margin: 15px 0 0 0;
}

.menu {
	height: auto;
	margin: 0 auto;
	width: 100%;
	height: 55px;
	display: block;
	min-width: 973px;
	max-width: 973px;
}

.menu ul {
	margin: 1px 0 0 0;
	padding: 0;
	background: url("images/line_menu.jpg") no-repeat right	center;
}

.menu ul li {
	float: left;
	width: 133px;
	height: 53px;
	background: url("images/line_menu.jpg") no-repeat right center;
	padding: 0 3px;
}

.menu ul li a {
	width: 100%;
	height: 53px;
	text-align: center;
	display: block;
	position: relative;
}

.menu ul li a.menu_1:hover img,
.menu ul li.menu_1 a.active img,
.menu ul li a.menu_2:hover img,
.menu ul li.menu_2 a.active img,
.menu ul li a.menu_3:hover img,
.menu ul li.menu_3 a.active img,
.menu ul li a.menu_4:hover img,
.menu ul li.menu_4 a.active img,
.menu ul li a.menu_5:hover img,
.menu ul li.menu_5 a.active img,
.menu ul li a.menu_6:hover img,
.menu ul li.menu_6 a.active img,
.menu ul li a.menu_7:hover img,
.menu ul li.menu_7 a.active img {
	display:none;
}

.menu ul li a.menu_1:hover,
.menu ul li.menu_1 a.active {
	background:url(../images/menu_1_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_2:hover,
.menu ul li.menu_2 a.active {
	background: url(../images/menu_2_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_3:hover,
.menu ul li.menu_3 a.active {
	background: url(../images/menu_3_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_4:hover,
.menu ul li.menu_4 a.active {
	background: url(../images/menu_4_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_5:hover,
.menu ul li.menu_5 a.active {
	background: url(../images/menu_5_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_6:hover,
.menu ul li.menu_6 a.active {
	background: url(../images/menu_6_hover.jpg) no-repeat center center;
}
.menu ul li a.menu_7:hover,
.menu ul li.menu_7 a.active {
	background: url(../images/menu_7_hover.jpg) no-repeat center center;
}

.menu li.menu_3 ul.subNav,
.menu li.menu_4 ul.subNav {
	display: none;
}

.menu li.menu_3 ul.subNav,
.menu li.menu_4 ul.subNav {
	background: none repeat scroll 0 0 #ffc472;
	display: block;
	height: auto;
	margin-left: -3px;
	position: absolute;
	top: 53px;
	width: 141px;
}

.menu ul li ul.subNav li.subNav {
	height: auto;
	margin: 0;
	padding: 10px 0 9px 0;
	text-align: center;
	width: 100%;
	border: none;
	border-bottom: 1px solid #d19c5d;
	background: none;
}

.menu ul li ul.subNav li.subNav_no_b {
	border-bottom: none;
}

.menu ul li ul.subNav li.subNav:hover {
	background: url(../images/bg_menu_sub.jpg) no-repeat center center;
}

.menu ul li ul.subNav li.subNav a.subNav {
	color: #66402b;
	foat: none;
	font-size: 14px;
	height: auto;
	text-align: center;
	z-index: 999999;
}