/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************/
body {
  font-family:Arial;
  font-size:0.6875em;
  color:#595959;
	background-color: #121214;
}
#container {
  width:710px;
  height:585px;
	margin-top:22px;
	margin-left:65px;
  
}

#main-content{
  width:430px;
	float:left;
}

#header {
	margin-top:38px;
}
.content {
	width: 430px;
	height: 175px;
	margin:34px 26px 0px 0px;
	border-bottom: 1px dotted #2d2d2f;
}
.content img {
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}
.content h3 {
	color:#fff;
	margin:2px 0px;
}
#link-first {
	margin-bottom: 80px;
}
#top {
	margin-top:39px
}
.more-link {
	display: block;
	margin-top:15px;
	margin-bottom:40px;
	background: transparent url("images/arr_1.gif") no-repeat top left;
	text-indent: 15px;
	color: #fff;
	text-decoration:none;	
	clear:both;
}
.more-link:hover {
	color:#3d2fed;
}

.link ul {
	width: 190px;
}

.link li {
	list-style-image: url("images/arr.gif");
	margin:14px 0px 14px 0px;
}
.link li a {
	color:#595959;
}
.link li a:hover {
	color:#3d2fed;
}
#link-left {
	margin-left:10px;
	float:left;
}
#link-right {
	float:right;
}


#sidebar {
	width:238px;
	float:right;
	background-color:#232227;
	margin-left:35px;
}

#sidebar img {
	padding-top:30px;
	margin:70px 35px 30px 35px;
	border-top: 1px solid #353439;
}

#sidebar h3 {
	margin-left:35px;
	color:#fff;
	margin-bottom:8px;
}
#sidebar p {
	margin:0px 35px 0px 35px;
}
#sidebar .more-link {
	margin-top:35px;
	margin-left:35px;
}

#white {
	color:#fff;
}











